/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
:root,
[data-bs-theme=light] {
--bs-font-sans-serif: system-ui, -apple-system, "Inconsolata", monospace, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

 /* Font Families */
 --cnvs-body-font:	"Inconsolata", monospace;
 --cnvs-primary-font:	"Inter", sans-serif;
 --cnvs-secondary-font:	"Inconsolata", monospace;
}


#footer {
	--cnvs-footer-top-border: 1px solid rgba(var(--cnvs-contrast-rgb), 0.15);
	--cnvs-copyrights-link-color: var(--cnvs-contrast-500);
	position: relative;
	background-color: var(--cnvs-footer-bg);
	border-top: var(--cnvs-footer-top-border);
  }

#copyrights {
	padding: calc(var(--cnvs-content-padding) * 0.5) 0;
	background-color: var(--cnvs-white);
	font-size: var(--cnvs-copyrights-font-size);
	line-height: var(--cnvs-line-height-content);
  }

  .owl-carousel .owl-item img {
	
	max-height: 100vh; /* Set the maximum height to the viewport height */
	height: auto; /* Maintain the aspect ratio */
	display: block; /* Remove extra space below inline images */
	margin: 0 auto; /* Center the image horizontally within the container */
	transform-style: preserve-3d;
  }
